.item-list {
    min-width: 60%;
    float: left;
    margin: 0 10%;
    & .input-search {
        padding: 50px 0;
        & .input-group {
            & .form-control {
                border-radius: 30px;
                ::placeholder {
                    padding-left: 30px;
                }
            }
            & .btn {
                border-radius: 30px;
                margin: 0 10px;
            }
        }
    }
}