<div class="item-list">
    <div class="input-search">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Estou precisando de ..." aria-label="Recipient's username" aria-describedby="basic-addon2">
            <button class="btn btn-outline-primary" type="button">Pesquisar</button>            
        </div>
    </div>
    <div class="result-list">
        <div class="card-deck">
            <div *ngFor="let item of items" class="card">
                <img src="{{item.avatar}}" class="card-img-top" alt="...">
                <div class="card-body">
                <h5 class="card-title">{{item.first_name}}</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
            </div>
        </div>
    </div>


</div>